/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*, *:before, *after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: #f0efef;
	color: #000;
	line-height: 1.5;
	font-family: Open Sans, sans-serif;
	margin: 0px;
}

.container h1 {
	font-weight: bolder;
	font-size: 50px;
	color: white;
	margin-top: -10px;
	padding-top: 30px;
	padding-left: 80px;
	text-align: left;
}

.intro .container a {
	background-color: #f9e42e;
	color: #033048;
	border-radius: 5px;
	padding: 10px 100px;
	font-weight: bolder;
	font-size: 30px;
	text-decoration: none;
	margin: 0 auto;
	width: 100%;
}

.sign .button a {
	background-color: #033048;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 auto;
	width: 100%;
	padding: 10px 100px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 100%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 240px;
}

.container h2 {
	color: white;
	font-size: 45px;
	font-weight: 400;
	margin-top: 80px;
	margin-bottom: 80px;
}

.benefits .container {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-weight: lighter;
	background-color: white;
}

.benefits .container h2 {
	color: #033048;
	font-weight: 600;
	font-size: 41px;
	margin-top: 60px;
	margin-left: 70px;
	margin-bottom: 0px;
}

.benefits .container p {
	color: #606161;
	width: 40%;
	padding-left: 10px;
	font-size: 20px;
	margin-left: 70px;
	margin-bottom: 50px;
}

.benefits .container ul {
	color: #606161;
	width: 30%;
	font-size: 20px;
	margin-left: 80px;
}


.quote .container {
		max-width: 100%;
	margin: 0 auto;
	color: white;
	font-weight: lighter;
	font-style: italic;
	font-size: 41px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.quote blockquote {
	width: 57%;
	margin: 0 auto;
}

.quote p {
	font-weight: bolder;
	font-style: normal;
	margin-bottom: 0px;
}

.nav {
	background-color: #033048

}

.nav .header h1 {
	color: white;
	float: left;
	margin-top: -1px;
	margin-left: 40px;
	font-weight: bolder;
	font-size: 50px;
}

.nav .header li{
	color: #f9e42e;
	float: right;
	padding: 25px;
	font-weight: 600;
	font-size: 20px;
}

.column {
	float: left;
	margin-right: 2%;
	margin-left: 2%;
}

.column img {
	max-width: 90%;
}

.column h2 {
	font-weight: 600;
	max-width: 90%
}

.column p {
	font-weight: lighter;
	max-width: 90%;
}

.column a {
	font-weight: 600;
	text-decoration: none;
	float: right;
	margin-right: 20%;
	max-width: 90%;
}

.column ul {
	list-style-type: none;
	padding: 0px;
	font-weight: lighter;
}

.column h3 {
	font-weight: bolder;
}

.column:last-child {
	margin-right: 0;
}

.two-columns.has-sidebar .column:first-child {
	width: 61.3333333%;
	height: 100%;
}

.two-columns.has-sidebar .column:last-child {
	width: 30.6666666%;
	height: 100%;
}

.sign {
	max-width: 100%;
	margin: 0 auto;
	background-color: #f9e42e;
	background-size: cover;
	text-align: center;
}

.button {
	padding: 35px;
}

.sign .button a {
	font-weight: bolder;
	font-size: 25px;
}


/* Not 100% sure if content in centred exactly, I think my eyes have gone funny but seems slightly pulled towards the right?  */
.footer .container {
		max-width: 100%;
	margin: 0 auto;
	background-color: #121212;
	background-size: cover;
	text-align: center;
	padding-bottom: 50px;
}

.footer h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	color: #f9e42e;
	font-weight: bolder;
	font-size: 50px;
}

.footer p {
	color: white;
	font-weight: lighter;
	font-size: 20px;
}

.footer img{
	margin: 0 auto;
	padding: 35px 35px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images1/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	text-align: center;
}

.quote {
	background: url("../images1/testimonial_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
}